*{
    margin:0px;
    padding: 0px;
}
.container{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 200px;
    padding: 20px; 
}
h2{
    text-align: center;
}
.form-group{
    justify-content: center;
}
.allUsers{
    margin-left: auto;
    margin-right: auto;
}
th, td{
    padding: 0 20px;
}
th, td, .allUsers{
    border: 2px solid black;
}
.formdivs{
    display:flex;
    justify-content: center;
}
.col2{
    display:inline-block;
}